.nav {
  background-color: #C7E0F5;
  height: 40px;
  margin-bottom: 20px;
  padding-left:25px;
  position: fixed;
  top:0;
  width: 100%;
  left:0;
  text-align: center;
}
.navitem {
  color: white;
  line-height: 60px;
  display:inline-block;
  min-width: 100px;
  text-align:center;
}
.navitem:hover {
  background-color: #bbbbbb;
}