
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding-top: 60px; /* Account for fixed nav */
  margin: 0;
}


.nav {
  background-color: #C7E0F5;
  height: 40px;
  margin-bottom: 20px;
  padding-left:25px;
  position: fixed;
  top:0;
  width: 100%;
  left:0;
  text-align: center;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    display: flex;
  }
.navitem {
  color: #000000;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
}

.navitem:hover {
  background-color: #000000;
  color: white;
  border-radius: 5px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}


.column {
  flex: 1 1 calc(50% - 40px);
  background-color: #FEF0FC;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
}

.column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.column h1 {
  font-size: 1.5em;
  color: #207ce5;
  margin-bottom: 10px;
}

.column p {
  font-size: 1em;
  color: #333;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .column {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .nav {
    flex-direction: column;
    height: auto;
  }

  .navitem {
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }
}
